$color-black = rgb(0,0,0) // #000000
$color-gray = rgb(26,26,26) // #1A1A1A
$color-darkGray--pointList = rgb(45,45,45) // #2D2D2D
$color-mediumDarkGray = rgb(113,112,116) // #717074
$color-mediumGray = rgb(123,123,123) // #797979
$color-darkGray = rgb(153,153,153) // #999999
$color-mediumLightGray = rgb(170,170,170) //#AAAAAA
$color-mediumLighterGray = rgb(204,204,204) //#CCCCCC
$color-lightGray = rgb(229,229,229) // #E5E5E5
$color-white = rgb(255,255,255) // #FFFFFF

$color-darkGrayBackground = rgb(26,26,26) // #1A1A1A
$color-darkerGrayBackground = rgb(17,17,17) // #111111

$color-grayBackground--pointDetails = rgb(49,49,49) // #313131
$color-grayBorder--radar = rgb(76,76,76)
$color-translucentBlack = rgba(0,0,0,0.5)
$color-semiTranslucentBlack = rgba(0,0,0,0.8)
$color-lightGrayButton = rgb(155,155,155)
$color-darkGrayButton = rgb(77,79,83)

$color-bekkRed = rgb(253,80,88)
$color-bekkGreen = rgb(54,189,178)
$color-bekkYellow = rgb(255,249,174)
$color-bekkDark = rgb(30,30,30)
$color-bekkGray = rgb(212,212,212)

$color-facebook = rgb(59,89,152)
$color-twitter = rgb(0,172,237)
$color-linkedin = rgb(0,123,182)
