// $fontSize-micro
// $fontSize-smallest
$fontSize-smallest = 0.8rem // 12.8px
$fontSize-smaller = 0.875rem // 14px
$fontSize-small = 0.9375rem // 15px
$fontSize-base = 1rem // 16px
$fontSize-large = 1.125rem // 18px
$fontSize-larger = 1.375rem // 22px
$fontSize-largest = 1.688rem // 27px

// $lineHeight-tightest
// $lineHeight-tighter
// $lineHeight-tight
// $lineHeight-baseSans
$lineHeight-base = 1.2rem
// 24px
$lineHeight-loose = 1.5rem
$lineHeight-looser = 1.8rem

$letterSpacing-tight = -1px
