@import "~styles/colors"
@import "~styles/type"
@import "~styles/zIndex"

@keyframes lightUp
  0%
    color color $color-mediumGray
    text-shadow 0 0 0.1rem white
    transform scale(1)
  50%
    color white
    text-shadow 0 0 0.2rem white
    transform scale(1.1)
  100%
    color $color-white
    text-shadow none
    transform scale(1)

.categoryButtonNumber
  display none
  margin-left 4px
  width 30px
  height 30px
  z-index $zIndex-0
  font-size $fontSize-smaller
  color $color-white
  overflow visible
  transition color 0.5s ease-out, text-shadow 0.5s ease-out, transform 0.5s ease-out
  align-items center
  justify-content center

.categoryButtonNumber--isVisible
  display flex
  animation-name lightUp
  animation-duration 2s
  animation-iteration-count 1
  animation-timing-function ease-out
