@import '~styles/colors'
@import '~styles/breakpoints'

.modal
  height 100%
  width 100%
  position absolute
  top 0
  z-index 5
  background rgba(80,80,80,0.6)
  overflow-y auto
  @media screen and (min-width: $breakpoint-min-medium)
    overflow-y scroll

  &.animate-appear
    opacity 0.01
    &.animate-appear-active
      opacity 1
      transition opacity 300ms ease-in
//  &.animate-leave
//    opacity 1
//    &.animate-leave-active
//      opacity 0.01
//      transition opacity 300ms ease-in
