@import "~styles/colors.styl"
@import "~styles/type.styl"
@import "~styles/breakpoints"

.startPoint
  overflow auto
  color $color-lightGray
  background $color-darkGrayBackground
  position relative
  padding 1.3rem
  display none
  @media screen and (min-width: $breakpoint-min-extraLarge)
    display block

.startPoint-imageContainer
  width 100%

.startPoint-imageContainer-image
  position absolute
  top 0
  left 0
  transform translate3d(0,0,0)
  width 100%

.startPoint-titleBar
  margin 2.5rem 2.5rem 0 1rem
  display flex

.startPoint-titleBar-title
  flex-grow 1
  font-size $fontSize-largest
  font-weight normal
  margin 0

.startPoint-body
  margin 1rem
  line-height $lineHeight-base
  font-family Fedra Serif, serif
  font-size $fontSize-small
  line-height $lineHeight-looser
